<template>
    <div class="panel panel-default">
        <div class="panel-heading">Agriculture</div>

        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <h2 style="margin-top:0px">Farmlands</h2>
                    <p>Number of farmlands: {{ farmlands }}</p>
                    <button class="btn btn-success" @click="workFarmland($event)">Work farmlands</button>
                    <p v-if="workCountdown > 0">Working farmland: {{ workCountdown }}s remaining</p>
                    <p>Yield per land piece: {{ farmlandYield }}</p>
                    <h2 style="margin-top:0px">Expand</h2>
                    <p>Farmland price: {{ formatPrice(farmlandPrice) }}</p>
                    <button class="btn btn-info" @click="buyFarmland">Buy farmland</button>
                </div>
                <div class="col-md-6">
                    <h2 style="margin-top:0px">Grain</h2>
                    <p>Current grain stock: {{ grain }} kg</p>
                    <p>Current grain price: {{ formatPrice(grainPrice) }} per 1000 kg</p>
                    <button class="btn btn-danger" @click="sellGrain">Sell grain</button>
                    <p>You currently own {{ grainSilos }} silo with {{ spaceLeft }} kg space remaining. Any surplus is can't be stored and will be thrown away.</p>
                    <h2 style="margin-top:0px">Buy extra silo's</h2>
                    <p>A silo costs {{ formatPrice(grainSiloPrice) }}  and can contain 5000 kg grain.</p>
                    <button class="btn btn-info" @click="buyGrainSilo">Buy grain silo</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: ['farmlands', 'farmlandYield', 'farmlandPrice', 'grain', 'grainSilos', 'grainSiloPrice'],
    data: function() {
        return {
            grainPrice: 30,
            workCountdown: 0
        }
    },
    methods: {
        workFarmland: async function(event) {
            event.target.disabled = true;
            if(this.workCountdown == 0) {
                this.workCountdown = 9;
                while(this.workCountdown > 0) {
                    await this.sleep(1000);
                    this.workCountdown -= 1;
                    if(this.workCountdown == 0) {
                        event.target.disabled = false;
                        this.$emit("farmlandWorked")
                    }
                }
            }
        },
        buyFarmland: function() {
            this.$emit("buyFarmland")
        },
        sellGrain: function() {
            var income = (this.grain / 1000) * this.grainPrice;
            this.$emit("sellGrain", income);
        },
        buyGrainSilo: function() {
            this.$emit("buySilo");
        },
        calculateGrainPrice: function() {
            return parseFloat(Math.round((Math.floor(Math.random() * 500)) * 100) / 100);
        },
        formatPrice: function(price) {
            return price.toLocaleString('nl-NL', { style: 'currency', currency: 'EUR' });
        },
        sleep: function(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    },
    mounted() {
        var self = this;
        self.calculateGrainPrice();
        setInterval(function () {
            self.$data.grainPrice = self.calculateGrainPrice();
        }, 5000);
    },
    computed: {
        spaceLeft: function() {
            return (this.grainSilos * 5000) - this.grain;
        }
    }
}
</script>
