<template>
    <div>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <div class="navbar-header">

                    <!-- Collapsed Hamburger -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Branding Image -->
                    <a class="navbar-brand" href="/">
                        Farmavel
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="app-navbar-collapse">
                    <!-- Left Side Of Navbar -->
                    <ul class="nav navbar-nav">
                        <li><a href="/game">Game</a></li>
                        <li><a href="/leaderboard">Leaderboard</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                                Options <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li @click="resetGame"><a href="javascript:;">Reset game</a></li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Right Side Of Navbar -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Authentication Links -->
                        <li v-if='userName == "Guest"'><a href="/login">Login</a></li>
                        <li v-if='userName == "Guest"'><a href="/register">Register</a></li>
                        <li v-if='userName != "Guest"' class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-haspopup="true">
                                {{ userName }} <span class="caret"></span>
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/logout"
                                        onclick="event.preventDefault();
                                                    document.getElementById('logout-form').submit();">
                                        Logout
                                    </a>
                                    <form id="logout-form" action="/logout" method="POST" style="display: none;">
                                        <input type="hidden" name="_token" :value="token">
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <agriculture
                        :farmlands="farmlands"
                        :farmland-yield="farmlandYield"
                        :farmland-price="farmlandPrice"
                        :grain="grain"
                        :grainSilos="grainSilos"
                        :grainSiloPrice="grainSiloPrice"
                        v-on:farmlandWorked="handleFarmlandWorked"
                        v-on:buyFarmland="handleFarmlandPurchase"
                        v-on:sellGrain="handleGrainSales"
                        v-on:buySilo="handleGrainSiloPurchase"
                    ></agriculture>
                    <mills
                        v-if="level > 1"
                        :flour="flour"
                        :flour-silos="flourSilos"
                        :flour-silo-capacity="flourSiloCapacity"
                        :flour-silo-price="flourSiloPrice"
                        :windmills="windmills"
                        :windmill-price="windmillPrice"
                        :windmill-grind-capacity="windmillGrindCapacity"
                        :grain-to-be-grinded="grainToBeGrinded"
                        v-on:sellFlour="handleFlourSales"
                        v-on:buyFlourSilo="handleFlourSiloPurchase"
                        v-on:buildWindmill="handleWindmillPurchase"
                        v-on:startGrindingGrain="handleStartGrinding"
                        v-on:partialGrind="handleGrindedGrain"
                    ></mills>
                    <oil
                        v-if="level > 2"
                        :level="level"
                        :oil="oil"
                        :barrels="barrels"
                        :barrel-capacity="barrelCapacity"
                        :barrel-price="barrelPrice"
                        :oil-pumps="oilPumps"
                        :oil-pump-price="oilPumpPrice"
                        v-on:pumpingOil="handleOilPumping"
                        v-on:sellingOil="handleOilSale"
                        v-on:purchaseBarrel="handleBarrelPurchase"
                        v-on:purchaseOilPump="handleOilPumpPurchase"
                        v-on:sellOilPump="handleOilPumpSale"
                        v-on:pumpTick="handlePumpTick"
                    ></oil>
                    <energy
                        v-if="level > 3"
                        :energy="energy"
                        :power-plants="powerPlants"
                        :power-plant-price="powerPlantPrice"
                        :energy-storages="energyStorages"
                        :energy-storage-capacity="energyStorageCapacity"
                        :energy-storage-price="energyStoragePrice"
                        v-on:energyTick="handleEnergyTick"
                        v-on:purchasePowerPlant="handlePowerPlantPurchase"
                        v-on:sellPowerPlant="handlePowerPlantSale"
                        v-on:purchaseEnergyStorage="handleEnergyStoragePurchase"
                    ></energy>
                </div>
                <div class="col-md-4">
                    <player-stats
                        :name="userName"
                        :level="level"
                        :next-level="nextLevel"
                        :money="money"
                        :grain="grain"
                        :grainSilos="grainSilos"
                        :grain-silo-content="grainSiloContent"
                        :flour="flour"
                        :flour-silos="flourSilos"
                        :flour-silo-capacity="flourSiloCapacity"
                        :oil="oil"
                        :barrels="barrels"
                        :barrel-capacity="barrelCapacity"
                        :energy="energy"
                        :energy-storages="energyStorages"
                        :energy-storage-capacity="energyStorageCapacity"
                        v-on:saveForLeaderboard="saveToDB"
                    ></player-stats>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import PlayerStats from './PlayerStatsComponent';
    import Agriculture from './AgricultureComponent';
    import Mills from './MillsComponent';
    import Oil from './OilComponent';
    import Energy from './EnergyComponent';

    export default {
        components: {
            'PlayerStats': PlayerStats,
            'Agriculture': Agriculture,
            'Mills': Mills,
            'Oil': Oil,
            'Energy': Energy
        },
        data() {
            return {
                token: document.head.querySelector('meta[name="csrf-token"]').content,
                user: JSON.parse(document.head.querySelector('meta[name="user"]').content),
                // player
                level: Vue.ls.get('level', 1),
                nextLevel: Vue.ls.get('nextLevel', 3000),
                money: Vue.ls.get('money', 2000),
                // grain
                farmlands: Vue.ls.get('farmlands', 1),
                farmlandYield: Vue.ls.get('farmlandYield', 100),
                farmlandPrice: Vue.ls.get('farmlandPrice', 10),
                grain: Vue.ls.get('grain', 0),
                grainSiloContent: Vue.ls.get('grainSiloContent', 5000),
                grainSilos: Vue.ls.get('grainSilos', 1),
                grainSiloPrice: Vue.ls.get('grainSiloPrice', 2000),
                // flour
                grainToBeGrinded: 0,
                flour: Vue.ls.get('flour', 0),
                flourSilos: Vue.ls.get('flourSilos', 1),
                flourSiloCapacity: Vue.ls.get('flourSiloCapacity', 10000),
                flourSiloPrice: Vue.ls.get('flourSiloPrice', 5000),
                // mills
                windmills: Vue.ls.get('windmills', 1),
                windmillPrice: Vue.ls.get('windmillPrice', 500),
                windmillGrindCapacity: Vue.ls.get('windmillGrindCapacity', 1000),
                // oil
                oil: Vue.ls.get('oil', 0),
                barrels: Vue.ls.get('barrels', 1),
                barrelCapacity: Vue.ls.get('barrelCapacity', 1000),
                barrelPrice: Vue.ls.get('barrelPrice', 1000),
                oilPumps: Vue.ls.get('oilPumps', 0),
                oilPumpPrice: Vue.ls.get('oilPumpPrice', 15),
                // energy
                energy: Vue.ls.get('energy', 0),
                powerPlants: Vue.ls.get('powerPlants', 0),
                powerPlantPrice: Vue.ls.get('powerPlantPrice', 100),
                energyStorages: Vue.ls.get('energyStorages', 10),
                energyStorageCapacity: Vue.ls.get('energyStorageCapacity', 100),
                energyStoragePrice: Vue.ls.get('energyStoragePrice', 5000)
            }
        },
        methods: {
            // agriculture
            handleFarmlandWorked: function() {
                this.grain += this.farmlandYield * this.farmlands;
                if(this.grain > (this.grainSilos * this.grainSiloContent)) {
                    this.grain = this.grainSilos * this.grainSiloContent;
                }
                this.saveProgress();
            },
            handleFarmlandPurchase: function() {
                if(this.money >= this.farmlandPrice) {
                    this.money -= this.farmlandPrice;
                    this.farmlands += 1;
                    this.farmlandPrice *= 1.05;
                    this.saveProgress();
                }
            },
            handleGrainSales: function(income) {
                this.grain = 0;
                this.money += income;
                this.saveProgress();
            },
            handleGrainSiloPurchase() {
                if(this.money >= this.grainSiloPrice) {
                    this.money -= this.grainSiloPrice;
                    this.grainSilos += 1;
                    this.grainSiloPrice *= 1.05;
                    this.saveProgress();
                }
            },
            // milling
            handleFlourSales(income) {
                this.flour = 0;
                this.money += income;
                this.saveProgress();
            },
            handleFlourSiloPurchase() {
                if(this.money >= this.flourSiloPrice) {
                    this.flourSilos += 1;
                    this.money -= this.flourSiloPrice;
                    this.flourSiloPrice *= 1.05;
                }
                this.saveProgress();
            },
            handleWindmillPurchase() {
                if(this.money >= this.windmillPrice) {
                    this.windmills += 1;
                    this.money -= this.windmillPrice;
                    this.windmillPrice *= 1.05;
                }
                this.saveProgress();
            },
            handleStartGrinding() {
                if(this.grain > 0) {
                    var capacity = this.windmills * this.windmillGrindCapacity;
                    if(capacity > this.grain) {
                        this.grainToBeGrinded = this.grain;
                        this.grain = 0;
                    } else {
                        this.grain -= capacity;
                        this.grainToBeGrinded = capacity;
                    }
                } else {
                    document.getElementById("grindMill").disabled = false;
                }
            },
            handleGrindedGrain(partialGrind) {
                this.flour += partialGrind;
                this.grainToBeGrinded -= partialGrind;
                if(this.flour > this.flourSiloCapacity * this.flourSilos) {
                    this.flour = this.flourSiloCapacity * this.flourSilos;
                }
                document.getElementById("grindMill").disabled = false;
                this.saveProgress();
            },
            // oil
            handleOilPumping() {
                if(this.oil < this.barrels * this.barrelCapacity) {
                    this.oil += 1;
                    this.saveProgress();
                }
            },
            handleOilSale(income) {
                this.oil = 0;
                this.money += income;
                this.saveProgress();
            },
            handleBarrelPurchase() {
                if(this.money >= this.barrelPrice) {
                    this.money -= this.barrelPrice;
                    this.barrels += 1;
                    this.barrelPrice *= 1.05;
                    this.saveProgress();
                }
            },
            handleOilPumpPurchase() {
                if(this.money >= this.oilPumpPrice) {
                    this.money -= this.oilPumpPrice;
                    this.oilPumpPrice *= 1.05;
                    this.oilPumps += 1;
                }
            },
            handleOilPumpSale() {
                if(this.oilPumps > 0) {
                    this.oilPumpPrice = (this.oilPumpPrice / 105) * 100;
                    this.money += this.oilPumpPrice;
                    this.oilPumps -= 1;
                }
            },
            handlePumpTick() {
                if(
                    this.energy > (1 * this.oilPumps) &&
                    this.oilPumps > 0 &&
                    (this.oil + (1 * this.oilPumps)) <= (this.barrelCapacity * this.barrels)
                ) {
                    this.energy -= 1 * this.oilPumps;
                    this.oil += 1 * this.oilPumps;
                    this.saveProgress();
                }
            },
            // energy
            handleEnergyTick() {
                if(
                    this.oil > (1 * this.powerPlants) &&
                    this.powerPlants > 0 &&
                    (this.energy + (10 * this.powerPlants) <= (this.energyStorages * this.energyStorageCapacity))
                ) {
                    this.oil -= 1 * this.powerPlants;
                    this.energy += 10 * this.powerPlants;
                    this.saveProgress();
                }
            },
            handlePowerPlantPurchase() {
                if(this.money >= this.powerPlantPrice) {
                    this.money -= this.powerPlantPrice;
                    this.powerPlantPrice *= 1.05;
                    this.powerPlants += 1;
                    this.saveProgress();
                }
            },
            handlePowerPlantSale() {
                if(this.powerPlants > 0) {
                    this.powerPlantPrice = (this.powerPlantPrice / 105) * 100;
                    this.money += this.powerPlantPrice * 0.75;
                    this.powerPlants -= 1;
                    this.saveProgress();
                }
            },
            handleEnergyStoragePurchase() {
                if(this.money >= this.energyStoragePrice) {
                    this.money -= this.energyStoragePrice;
                    this.energyStoragePrice *= 1.05;
                    this.energyStorages += 1;
                    this.saveProgress();
                }
            },
            // USER SAVE
            saveProgress() {
                Vue.ls.set('level', this.level);
                Vue.ls.set('nextLevel', this.nextLevel);
                Vue.ls.set('money', this.money);
                Vue.ls.set('farmlands', this.farmlands);
                Vue.ls.set('farmlandYield', this.farmlandYield);
                Vue.ls.set('farmlandPrice', this.farmlandPrice);
                Vue.ls.set('grain', this.grain);
                Vue.ls.set('grainSiloContent', this.grainSiloContent);
                Vue.ls.set('grainSilos', this.grainSilos);
                Vue.ls.set('flour', this.flour);
                Vue.ls.set('flourSilos', this.flourSilos);
                Vue.ls.set('flourSiloCapacity', this.flourSiloCapacity);
                Vue.ls.set('flourSiloPrice', this.flourSiloPrice);
                Vue.ls.set('windmills', this.windmills);
                Vue.ls.set('windmillPrice', this.windmillPrice);
                Vue.ls.set('windmillGrindCapacity', this.windmillGrindCapacity);
                Vue.ls.set('oil', this.oil);
                Vue.ls.set('barrels', this.barrels);
                Vue.ls.set('barrelCapacity', this.barrelCapacity);
                Vue.ls.set('oilPumps', this.oilPumps);
                Vue.ls.set('oilPumpPrice', this.oilPumpPrice);
                Vue.ls.set('energy', this.energy);
                Vue.ls.set('powerPlants', this.powerPlants);
                Vue.ls.set('powerPlantPrice', this.powerPlantPrice);
                Vue.ls.set('energyStorages', this.energyStorages);
                Vue.ls.set('energyStorageCapacity', this.energyStorageCapacity);
                Vue.ls.set('energyStoragePrice', this.energyStoragePrice);
            },
            saveToDB() {
                if(this.user != "") {
                    axios.post('/save-game', {
                        user_id: this.user.id,
                        user_name: this.user.name,
                        level: this.level,
                        next_level: this.nextLevel,
                        money: parseInt(this.money * 10),
                        // grain
                        farmlands: this.farmlands,
                        farmland_yield: this.farmlandYield,
                        farmland_price: this.farmlandPrice,
                        grain: this.grain,
                        grain_silo_capacity: this.grainSiloContent,
                        grain_silos: this.grainSilos,
                        grain_silo_price: this.grainSiloPrice,
                        // flour
                        flour: this.flour,
                        flour_silos: this.flourSilos,
                        flour_silo_capacity: this.flourSiloCapacity,
                        flour_silo_price: this.flourSiloPrice,
                        // mills
                        windmills: this.windmills,
                        windmill_price: this.windmillPrice,
                        windmill_grind_capacity: this.windmillGrindCapacity,
                        // oil
                        oil: this.oil,
                        barrels: this.barrels,
                        barrel_capacity: this.barrelCapacity,
                        barrel_price: this.barrelCapacity
                    });
                }
            },
            resetGame() {
                Vue.ls.remove('level');
                this.level = 1;
                Vue.ls.remove('nextLevel');
                this.nextLevel = 3000;
                Vue.ls.remove('money');
                this.money = 2000;
                Vue.ls.remove('farmlands');
                this.farmlands = 1;
                Vue.ls.remove('farmlandYield');
                this.farmlandYield = 100;
                Vue.ls.remove('farmlandPrice');
                this.farmlandPrice = 10;
                Vue.ls.remove('grain');
                this.grain = 0;
                Vue.ls.remove('grainSiloContent');
                this.grainSiloContent = 5000;
                Vue.ls.remove('grainSilos');
                this.grainSilos = 1;
                Vue.ls.remove('flour');
                this.flour = 0;
                Vue.ls.remove('flourSilos');
                this.flourSilos = 1;
                Vue.ls.remove('flourSiloCapacity');
                this.flourSiloCapacity = 10000;
                Vue.ls.remove('flourSiloPrice');
                this.flourSiloPrice = 5000;
                Vue.ls.remove('windmills');
                this.windmills = 1;
                Vue.ls.remove('windmillPrice');
                this.windmillPrice = 500;
                Vue.ls.remove('windmillGrindCapacity');
                this.windmillGrindCapacity = 1000;
                Vue.ls.remove('oil');
                this.windmills = 0;
                Vue.ls.remove('barrels');
                this.windmillPrice = 1;
                Vue.ls.remove('barrelCapacity');
                this.windmillGrindCapacity = 1000;
                Vue.ls.remove('oilPumps');
                this.oilPumps = 0;
                Vue.ls.remove('oilPumpPrice');
                this.oilPumpPrice = 15;
                Vue.ls.remove('energy');
                this.energy = 0;
                Vue.ls.remove('powerPlants');
                this.powerPlants = 0;
                Vue.ls.remove('powerPlantPrice');
                this.powerPlantPrice = 100;
                Vue.ls.remove('energyStorages');
                this.energyStorages = 10;
                Vue.ls.remove('energyStorageCapacity');
                this.energyStorageCapacity = 100;
                Vue.ls.remove('energyStoragePrice');
                this.energyStoragePrice = 5000;
            }
        },
        computed: {
            userName() {
                if(this.user == "" || this.user == undefined || this.user == null)
                    return "Guest"

                return this.user.name;
            }
        },
        watch: {
            money: function(newValue, oldValue) {
                if(newValue > 3000 && this.level == 1) {
                    this.level += 1;
                    this.nextLevel = 15000;
                    this.saveProgress();
                }
                if(newValue > 15000 && this.level == 2) {
                    this.level += 1;
                    this.nextLevel = 75000;
                    this.saveProgress();
                }
                if(newValue > 75000 && this.level == 3) {
                    this.level += 1;
                    this.nextLevel = 375000;
                    this.saveProgress();
                }
            }
        }
    }
</script>
